* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "averta cy w10";
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
html {
  background-color: #272626;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
}
.notes {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 80%;
}
.note {
  background-color: #3d3c3ca0;
  padding: 0.8rem;
  border-radius: 0.5rem;
  max-width: 20rem;
  color: rgb(183, 182, 182);
  margin-bottom: 0.5rem;
  width: 15rem;
  height: 25%;
  overflow: hidden;
  position: relative;
}
.note .btn {
  display: flex;
  align-items: flex-end;

  /* justify-content: center; */
  /* background-color: red; */
  align-content: end;
  position: absolute;
  bottom: 10%;
  gap: 0.5rem;
  width: 100%;
}
.note .delete {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 40%;
  background-color: rgb(245, 97, 97);
}
.note .update {
  cursor: pointer;
  width: 40%;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  align-self: center;
  background-color: #68c4e3;
}
.note .btn:active,.note-create-form .form-right button:active{
  scale: 0.95;
}
.note h1 {
  font-weight: 600;
  line-height: 2rem;
}
.note-create-form {
  display: flex;
  height: auto;
  gap: 1rem;
  padding: 0.9rem 2rem;
  width: 25%;
  background-color: #464545;
}
.note-create-form .form-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.note-create-form .form-right input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
}
.note-create-form .form-right button {
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  /* width: fit-content; */
  /* align-self: center; */
  background-color: #0fb4ec;
  cursor: pointer;
}
